.c1{
  
    height:150px;
    width:250px;
    background-color:lightblue;
    border-radius:5px;

}

.txt1{
   height:15px;
   width: 225px;
   border-radius:5px;
   border:1px solid yellow;
}

.txt1:hover{
   height:15px;
   width: 235px;
   border-radius:5px;
   border:1px solid green;
   background-color:wheat;
}

a{
   text-decoration:none;
}
a:hover{
   text-decoration:none;
   color: red;
}