body{
    background-color:#778899;
    margin:0;
}

.div1{
     height:120px;
     width:100%;
     background-color:#A52A2A;
}

.div2{
     height:350px;
     width:100%;
     background-color:#9932CC;
}